
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Poppins&family=Roboto&family=Ubuntu&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
body{
    background-color: #38404B;
    color: #94ADCF;
}
h1{
    text-align: center;
    margin: 5% 0;
    text-decoration: underline;
}
#container{
    display: flex;
    flex-direction: column;
}
#outer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 2%;
}
#add{
    height: 55px;
    width: 30%;
    border: none;
    border-radius: 16px;
    padding-left: 9px;
    font-size: 100%;
    background-color: #38404B;
    box-shadow: 3px 3.5px #212121 inset, 3px 3.5px #828f94;
    color: #94ADCF;
}
#addbtn{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    margin-left: 1%;
    border: none;
    font-size: 225%;
    color: #94ADCF;
    background-color: #525b67;
    opacity: 50%;
    transition: transform 0.5s;
}
#addbtn:hover{
    transform: scale(1.07);
}
.list{
    display: flex;
}
.list h1{
    text-align: center;
}
.pendcon{
    margin: 3% 5%;
    width: 40%;
}
.compcon{
    margin: 3% 5%;
    width: 40%;
}
#pendingsect, #completedsect{
    height: auto;
    margin-top: 8%;
}
#pendingsect div, #completedsect div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    height: auto;
    width: 100%;
    border-radius: 16px;
    box-shadow: -3px -1.5px 8px 4px #3c4452, 0px 2.5px 8px 5px #22272e;
    padding: 5% 0;
    padding-left: 3%;
    margin-bottom: 4%;
    transition: transform(3s);
}
#completedsect div{
    box-shadow: 3px 0.5px 8px 7px #3c4452, 0px 0.5px 14px -2px #22272e inset;
}
#pendingsect div:hover{
    transform: scale(1);
}
#pendingsect div button, #completedsect div button{
    margin-right: 1%;
}
#pendingsect div button{
    background: url(checkbox-fill.svg) no-repeat center center;
    background-size:contain;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    background-color: #3c4452;
    background-color: none;
    border: none;
    flex-shrink: 0;
}
#completedsect div button{
    background: url(delete-bin-line.svg) no-repeat center center;
    background-size:contain;
    height: 30px;
    width: 30px;
    background-color: #3c4452;
    background-color: none;
    border: none;
    flex-shrink: 0;
}
#completedsect p{
    text-decoration:line-through;
    overflow-x: hidden;
    word-wrap: break-word;
    padding: 0 2%;
}
#pendingsect p{
    overflow-x: hidden;
    word-wrap: break-word;
    padding: 0 2%;
}
@media screen and (max-width: 768px) {
    #add{
        width: 60%;
    }
    #addbtn{
        margin-left: 3%;
    }
    .list{
        display: flex;
        flex-direction: column;
    }
    .pendcon, .compcon{
        width: 90%;
    }
}
